* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff;
    color: black;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-end;
    background-color: black;
    height: 100px;
    padding-bottom: 20px;
}

.logo {
    color: aliceblue;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo b {
    color: rgb(239, 239, 17);
}

li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
  }

.menu li a {
    text-decoration: none;
    color: rgb(242, 242, 10);
    font-size: 20px;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
  }

  .content1 {
    display: flex;
    flex-direction: row;
  }

  .item img {
    border-top-left-radius: 60px;
    height: 50vh;
    width: 50vw;
  }

  .para {
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 244, 242);
    /*width: 50%;*/
    justify-content: space-between;
    padding-left: 50px;
    border-top-right-radius: 60px;
  }

  .btn {
    border-top-right-radius: 25px;
    height: 50px;
    width: 100px;
    background-color: aquamarine;
    color: #fff;
  }

  .carousel {
    margin-top: 50px;
  }

  .hding {
    font-size: 2rem;
    color: rgb(236, 236, 8);
  }